/* Dropping in CSS from Flatagram, we can use this as a starting point and mod from here*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
  }

  h1 {
    font-family: fantasy;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-card {
    width: 300px;
    border: 1px solid #00000020;
    border-radius: 20px;
    text-align: left;
    background-color: white;
  }
  
  .image {
    width: 300px;
    /* border: 1px solid black; */
  }
  
  .title {
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000dd;
  }
  
  .rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .options-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
  }

  .options-list li {
    display: inline;
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
    
  .comments {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
  }
  
  .comments li {
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
  
  .comment-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
  }
  
  .comment-input {
    width: 83%;
    border: none;
    font-size: 0.8rem;
  }
  
  .comment-input:focus {
    outline: none;
  }
  
  .comment-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  
  .comment-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .comment-button:active {
    color: rgb(127, 146, 250);
  }
  
  .comment-button:focus {
    outline: none;
  }
  .rating {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 175px;
    height: 30px;
    padding: 5px 10px;
    margin: auto;
    border-radius: 30px;
    background: #FFF;
    display: block;
    overflow: hidden;
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating:not(:checked) > input {
    display: none;
  }

  #like {
    bottom: -65px;
  }
  #like:not(:checked) > label {
    cursor:pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    
    color: rgba(233, 54, 40, .4);
    line-height: 33px;
    text-align: center;
  }
  #like:not(:checked) > label:hover,
  #like:not(:checked) > label:hover ~ label {
    color: rgba(233, 54, 40, .6);
  }
  #like > input:checked + label:hover,
  #like > input:checked + label:hover ~ label,
  #like > input:checked ~ label:hover,
  #like > input:checked ~ label:hover ~ label,
  #like > label:hover ~ input:checked ~ label {
    color: rgba(233, 54, 40, .8);
  }
  #like > input:checked ~ label {
    color: rgb(233, 54, 40);
  }

  .current-rating {
    text-align:center;
    padding:15px 10px;
    font-size:.90rem;
  }